    {% extends "admindashboard.twig" %}

{%  block content %}


    <div class="card">
<div class="alert alert-success animated jello" id="alertfore" style="display:none;">
    <b>Employee was successfully added!</b>
</div>
<div class="alert alert-warning animated jello" id="alertforerror" style="display:none;">
    <b>Something went wrong</b>
</div>
<h5 class="card-header">Register New Employee<img style="display:none;height:30px;width:30px;" src="{{base_url()}}/img/lg.rotating-balls-spinner.gif"
        id='gif'>
 </h5>
        <div class="card-body">

<form id="eform" action="{{ path_for('post.employee') }}" method="POST">
<div class="form-group ">
<label for="email">Email</label>
<input type="email" name="email" id="email" class="{{errors.email ? 'has-error ': '' }}
 form-control"  id="email" placeholder="you@domain.com" value={{ old.email }} >

{%  if errors.email %}
<span class="help-block has-error-p">{{ errors.email | first}}</span>
{% endif %}

</div>

<div class="form-group">
    <label for="name">Given Name</label>
    <input type="text" name="firstname" id="givenname" class="{{errors.firstname ? 'has-error ': '' }} form-control" id="name"
    placeholder="John" value={{ old.firstname }} >
{% if errors.firstname %}
<span class="help-block has-error-p">{{ errors.firstname | first}}</span>
{% endif %}
</div>

<div class="form-group">
    <label for="name">Family Name</label>
    <input type="texfirst" name="lastname" id="familyname" class="{{errors.lastname ? 'has-error ': '' }} form-control" id="name"
    placeholder="Doe" value={{ old.lastname }} >
{% if errors.lastname %}
<span class="help-block has-error-p">{{ errors.lastname | first}}</span>
{% endif %}
</div>

<div class="form-group">
    <label for="name">Date of Birth</label>
    <input type="date" name="dateOfBirth"  class="{{errors.dateOfBirth ? 'has-error ': '' }} form-control"
        id="dateOfBirth">
    {% if errors.dateOfBirth %}
    <span class="help-block has-error-p">{{ errors.dateOfBirth | first}}</span>
    {% endif %}
</div>
<!-- deparment -->
<div class="form-group">
    <label for="name">Department</label>
<select name="department" id="department" class="{{errors.department ? 'has-error ': '' }} form-control">
{% for department in auth.getDepartments%}

<option value="{{department.department}}">{{department.department}}</option>

{% endfor %}
</select>
    {% if errors.department %}
<span class="help-block has-error-p">{{ errors.department | first}}</span>
{% endif %}
</div>
<!-- gender -->
<div class="form-group">
    <label for="name">Gender</label>
    <select name="gender" id="gender" class="{{errors.gender ? 'has-error ': '' }} form-control">
        <option selected>
            --GENDER--
        </option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    {% if errors.gender %}
    <span class="help-block has-error-p">{{ errors.gender | first}}</span>
    {% endif %}
</div>

<button type="submit" class="btn btn-success">Signup</button>

</form>
           </div>
    </div>

{% endblock %}
