<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">
    <title>Ogwugo.com</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <style>
.menu-body{
    padding:50px;
    text-align: center;
    height: 250px;
}
        .nav-list{
width: 100%;
background-color: #990066;
}
ul{
    list-style: none;
    margin: 20px;
}li{
    padding: 20px;
margin-left: -33px;
}
a{
    color: #fff;
}
a:hover{
    color: cadetblue;
    font-size: 20px;
}
.top{
    float: right;
}
.spanlist{
    border-left:2px solid #990066;
    padding:7px;
}
.card-header{
background-color: #996666;
color:aliceblue;
}

</style>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#990066">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">
            Ogwugo People
        </a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <!-- Dropdown -->
                <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->

            </ul>
            <!-- Links -->

            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search Employee" aria-label="Search">
                    <a href="{{path_for('admin.logout')}}"><button class="btn btn-outline-warning btn-sm">Logout</button></a>
                </div>
            </form>
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
    <div class="container-fluid">

        <div class="row">


            <div class="col-md-2" style="color:azure;background-color:#996666;padding:0;">

                <div align="center" style="padding:auto;margin-top:10px;">

                    <img src="{{ base_url() }}/img/ogwugo.png" height="50" width="120" style="border-radius:50%" alt="ogwugo">

                </div>
                <div class="nav-list">
                    <ul>
                        <li class="nav-item">
                            <a href="">
                                <i class="fa fa-home"></i>

                                Home</a>
                        </li>
                        <li class="nav-item"> <a href=""> <i class='fas fa-gear'></i> Self Service</a></li>
                        <li class="nav-item"><a href="">Leave Tracker</a></li>
                        <li class="nav-item"><a href="">Time tracker</a></li>
                        <li class="nav-item"><a href="">Time tracker</a></li>
                        <li class="nav-item"><a href="{{path_for('all.employees')}}"> <i class="fa fa-users"></i>  Employees</a></li>
                        <li class="nav-item"><a href="">Department</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <span class="spanlist">Welcome Admin</span>
                        <span class="top">
                            <a class="spanlist">Leave</a>
                            <a class="spanlist" href="{{path_for('add.employee')}}" style="color:black">Employee</a>
                        </span>
                    </div>
                </div>
<br>

{% block content %}

{% endblock %}

            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{{base_url() }}/js/lga.js"></script>
<script src="{{ base_url()}}/js/global.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/js/mdb.min.js"></script>
</body>

</html>
