{% extends 'admindashboard.twig' %}

{% block content %}
<div class="card">
<div class="card-header">All Employees({{ auth.Allusers }})

</div>

<div class="table-responsive text-nowrap">
<table class="table">
    <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
        <th>Department</th>
    </tr>
        {% for user in auth.adminusers  %}

        <tr>
            <td> {% if user.image == '' %}
      <img src="https://ugarsoft.com/wp-content/themes/ugarsoft/imgs/logo.png" height="60" width="60" style="border-radius:50%">
    {% else %}
<img src="{{user.image}}" height="60" width="60" style="border-radius:50%">
{% endif %}

</td>

      <td>{{ user.givenname }}</td>
<td>{{ user.familyname }}</td>
<td><a href="{{path_for('view.employee')}}?id={{user.company_id}}"><button class="btn btn-warning btn-sm">View</button></a></td>
<td>{{ user.department }}</td>
        {% else %}
<td>Empty</td>
    </tr>

    {% endfor %}
</table>
</div>

</div>
{% endblock %}
