
{% if flash.getMessage('signedin') %}
<div class="alert alert-success animated shake slow">
{{ flash.getMessage('signedin') | first }}
</div>
{% endif %}

{% if flash.getMessage('alertonedit') %}
<div class="alert alert-info alert-dismissible show card-header animated slideInDown slow" align="center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>    {{ flash.getMessage('alertonedit') | first }}
</div>
{% endif %}

{% if flash.getMessage('alertonview') %}
<div class="alert alert-info alert-dismissible show card-header animated slideInDown slow" align="center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button> {{ flash.getMessage('alertonview') | first }}
</div>
{% endif %}

{% if flash.getMessage('loggedout') %}
<div class="alert alert-primary animated shake">
    {{ flash.getMessage('loggedout') | first }}
</div>
{% endif %}

{% if flash.getMessage('signup') %}
<div class="alert alert-success animated shake">
    {{ flash.getMessage('signup') | first }}
</div>

{% endif %}
{% if flash.getMessage('signupfailed') %}
<div class="alert alert-warning animated shake">
    {{ flash.getMessage('signupfailed') | first }}
</div>

{% endif %}
{% if flash.getMessage('signinerror') %}
<div class="alert alert-warning animated shake">
{{ flash.getMessage('signinerror')| first }}
</div>
{% endif %}

{% if flash.getMessage('passwordchange') %}
<div class="alert alert-success animated shake">
{{ flash.getMessage('passwordchange')| first }}
</div>{% endif %}

{% if flash.getMessage('entryerror') %}
<div class="alert alert-warning animated shake">
{{ flash.getMessage('entryerror') | first}}
</div>
{% endif %}
