{% extends "admindashboard.twig" %}

{% block content %}

<div class="card">
<div class="card-body">
    <div class="row">
        <div class="col-md-4">
<!-- birthday alert -->
<div class="card">
    <div class="card-header">
<h5>Birthday</h5>
    </div>
<div class="card-body menu-body">


{% if auth.countUpcomingBirthdays > 0 %}

{% for birthdayBuddies in auth.getUpcomingBirthdays %}
<div style="border-left:2px solid orange">
<p class="animated bounceIn infinty">
    {{birthdayBuddies.familyname}} {{birthdayBuddies.givenname}} is celebrating today!</p>
<a style="color:#000" href="{{path_for('sendBirthdayWishes')}}?id={{birthdayBuddies.company_id}}">Send your wishes.</a>
</div>
<br>
{% endfor %}

{% else %}

<div>
No birthday Buddies Today
<div align="center" style="padding:auto;margin-top:1px;">

    <img src="{{ base_url() }}/img/ogwugo.png" height="50" width="120" style="border-radius:50%" alt="ogwugo">

</div>
    
</div>


{% endif %}

    <!-- No birthday Buddies Found -->

    </div>
</div>
<!-- end birthday alert -->
        </div>

        <!-- new hires -->
<div class="col-md-4">
<div class="card">
    <div class="card-header">
        <h5>New Hires</h5>
    </div>
    <div class="card-body menu-body">
{% if auth.getNewHires %}
{% for newPeople in auth.getNewHires %}
<div class="card" style="margin-top:-19px;">
<div class="card-body" style="padding:25px;">
<i class="far fa-user"></i> {{ newPeople.familyname }} {{newPeople.givenname}}
</div>
</div>
{% endfor %}

{% else %}
No New Joinees Found
<div align="center" style="padding:auto;margin-top:10px;">

    <img src="{{ base_url() }}/img/ogwugo.png" height="50" width="120" style="border-radius:50%" alt="ogwugo">

</div>
{% endif %}
    </div>
</div>

</div>
<!-- end new hires -->

{# department #}
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h5>Department Members</h5>
        </div>
        <div class="card-body menu-body">
{%for Department in auth.getDepartments %}
            <div>
<h5 style="float:left">{{Department.department}}</h5><span class="badge amber darken-2"
 style="float:right">{{Department.Members}}</span>
            </div>
            <br>
            <br>
            {% endfor %}
<!-- <div align="center" style="padding:auto;margin-top:10px;">
                <img src="{{ base_url() }}/img/ogwugo.png" height="50" width="120" style="border-radius:50%" alt="ogwugo">

            </div> -->
        </div>
    </div>

</div>
</div>
{# end department #}


<!-- favourites -->
{# <div class="col-md-4">
<div class="card">
    <div class="card-header">
        <h5>Favourites</h5>
    </div>
<div class="card-body menu-body">
No Favourites Found
<div align="center" style="padding:auto;margin-top:10px;">

    <img src="{{ base_url() }}/img/ogwugo.png" height="50" width="120" style="border-radius:50%" alt="ogwugo">

</div>
    </div>
</div>

</div> #}
<!-- end favourites -->
    </div>

    <br>

    <!-- second row -->
    <div class="row">

{# <div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h5>Messages</h5>
        </div>
        <div class="card-body menu-body">
            No Direct Message Found
            <div align="center" style="padding:auto;margin-top:10px;">

                <img src="{{ base_url() }}/img/ogwugo.png" height="50" width="120" style="border-radius:50%" alt="ogwugo">

            </div>
        </div>
    </div>

</div> #}


<div class="col-md-4">

<!-- pending approvalas -->
{# <div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h5>Request Pending Approval</h5>
        </div>
        <div class="card-body menu-body">
            No Records Found
            <div align="center" style="padding:auto;margin-top:10px;">

                <img src="{{ base_url() }}/img/ogwugo.png" height="50" width="120" style="border-radius:50%" alt="ogwugo">

            </div>
        </div>
    </div>

</div> #}
<!-- end pending approvals -->
    </div>

    <!-- end second row -->

<br>
    <!-- third row -->
{# <div class="row">

<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h5>Upcoming Holidays</h5>
        </div>
        <div class="card-body menu-body">
            No Records Found
            <div align="center" style="padding:auto;margin-top:10px;">

                <img src="{{ base_url() }}/img/ogwugo.png" height="50" width="120" style="border-radius:50%" alt="ogwugo">

            </div>
        </div>
    </div>

</div>

<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h5>Announcement</h5>
        </div>
        <div class="card-body menu-body">
            No Records Found
            <div align="center" style="padding:auto;margin-top:10px;">

                <img src="{{ base_url() }}/img/ogwugo.png" height="50" width="120" style="border-radius:50%" alt="ogwugo">

            </div>

        </div>
    </div>

</div>

<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h5>Attendance</h5>
        </div>
        <div class="card-body menu-body">
<div class="ct-chart ct-perfect-fourth"></div>
            <!-- Nobody has arrived
            <div align="center" style="padding:auto;margin-top:10px;">

                <img src="{{ base_url() }}/img/ogwugo.png" height="50" width="120" style="border-radius:50%" alt="ogwugo"> -->

            </div>
        </div>
    </div>

</div>

</div> #}
    <!-- end thrid row -->
</div>
</div>

{% endblock %}
