{% extends "app.twig" %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card">
            <h5 class="card-header">Change Password</h5>
            <div class="card-body">

                <form action="{{ path_for('change.password') }}" method="POST">

                    <div class="form-group">
                        <label for="old_pass">Old Password</label>
                        <input type="password" name="old_password" class="{{errors.old_password ? 'has-error ': '' }} form-control" id="pass"
                            placeholder="Password" value={{ old.password }}>
                        {% if errors.old_password %}
                        <span class="help-block has-error-p">{{ errors.old_password | first}}</span>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="pass">New Password</label>
                        <input type="password" name="new_password" class="{{errors.new_password ? 'has-error ': '' }} form-control"
                            id="pass" placeholder="Password" value={{ old.password }}>
                        {% if errors.new_password %}
                        <span class="help-block has-error-p">{{ errors.new_password | first}}</span>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-outline-warning">Update</button>

                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
