{% extends "admindashboard.twig" %}

{%  block content %}

<div class="row">
<div class="col-md-6 col-md-offset-3">
    <div class="card">
        <h5 class="card-header">New Admin</h5>
        <div class="card-body">

            <form action="{{ path_for('auth.signin') }}" method="POST">
<div class="form-group ">
    
<label for="email">Email</label>
<input type="email" name="email" class="form-control"  id="email" placeholder="you@domain.com" value={{ old.email }} >

</div>

<div class="form-group ">
    
<label for="email">Firstname</label>
<input type="text" class="form-control" name="firstname" id="firstname" placeholder="john Doe" value={{ old.email }} >

</div>


<div class="form-group">
    <label for="pass">Password</label>
    <input type="password" name="password" class="{{errors.password ? 'has-error ': '' }} form-control" id="pass" placeholder="Password" value={{ old.password }} >

</div>

<button type="submit" class="btn btn-primary">Add Admin</button>

</form>
           </div>
    </div>
</div>
</div>

{% endblock %}
