{% extends "app.twig" %}

{% block content %}
<div   class="row" style="text-align:left;margin:auto">
<div class="col-md-8 col-sm-12 m-auto d-flex align-items-center mt-4">
<form id="form" class="text-center border border-light p-5" >
<div class="text-center">
<img src="{{ base_url()}}/img/workdataimg/{{ auth.counteinfo.image}}" class=" z-depth-1" width="150" height="150" style="border-radius:50%;border:5px solid lightgreen">
</div>
    <img src="{{ base_url() }}/img/ogwugo.png" width="400" style="border-radius:50%" class="responsive" alt="ogwugo">
    <h3>EMPLOYMENT BIODATA FORM</h3>
    <div>
        <h5><b>PERSONAL INFORMATION</b></h5>
    </div>

    <div class="form-row mb-4">

        <div class="col">

            <!-- First name -->
            <label>GivenName</label>
            <input type="text" id="defaultRegisterFormFirstName" name="givenname" class="form-control" placeholder="Given Name"
                value="{{auth.counteinfo.givenname}}" disabled>
        </div>
        <div class="col">
            <!-- Last name -->
            <label for="">FamilyName</label>
            <input type="text" id="defaultRegisterFormLastName" name="familyname" class="form-control" placeholder="Family name"
                value="{{auth.counteinfo.familyname}}" disabled>
        </div>

    </div>

    <div class="form-row mb-4">

        <div class="col">

            <!-- Phonenumber -->
           <label for="">Telephone</label>
            <input type="text" id="defaultRegisterFormEmail" name="phonenumber"
            class="form-control mb-4"  value="{{auth.counteinfo.phonenumber}}" disabled>
        </div>
        <div class="col">

            <!-- E-mail -->
            <label for="">Email Address</label>
            <input type="email" name="email" id="defaultRegisterFormEmail"
             class="form-control mb-4" placeholder="E-mail"
                value={{auth.counteinfo.email}} disabled>
        </div>
    </div>

    <div class="col">
        <!-- address -->
        <label for="">Home Address</label>
        <textarea class="form-control mb-4" name="address" rows="2" placeholder="Home Address" disabled>{{auth.counteinfo.address}}</textarea>
    </div>



    <!-- state of origin -->
    <div class="form-group">
        <label class="control-label">State of Origin</label>
        <select name="state" onchange="changelga(this.value)" id="state" class="form-control" disabled selected="{{auth.counteinfo.state}}">
            <option value='Abia'>Abia</option>
            <option value='Adamawa'>Adamawa</option>
            <option value='AkwaIbom'>AkwaIbom</option>
            <option value='Anambra'>Anambra</option>
            <option value='Bauchi'>Bauchi</option>
            <option value='Bayelsa'>Bayelsa</option>
            <option value='Benue'>Benue</option>
            <option value='Borno'>Borno</option>
            <option value='Cross River'>Cross River</option>
            <option value='Delta'>Delta</option>
            <option value='Ebonyi'>Ebonyi</option>
            <option value='Edo'>Edo</option>
            <option value='Ekiti'>Ekiti</option>
            <option value='Enugu'>Enugu</option>
            <option value='Gombe'>Gombe</option>
            <option value='Imo'>Imo</option>
            <option value='Jigawa'>Jigawa</option>
            <option value='Kaduna'>Kaduna</option>
            <option value='Kano'>Kano</option>
            <option value='Katsina'>Katsina</option>
            <option value='Kebbi'>Kebbi</option>
            <option value='Kogi'>Kogi</option>
            <option value='Kwara'>Kwara</option>
            <option value='Lagos'>Lagos</option>
            <option value='Nasarawa'>Nasarawa</option>
            <option value='Niger'>Niger</option>
            <option value='Ogun'>Ogun</option>
            <option value='Ondo'>Ondo</option>
            <option value='Osun'>Osun</option>
            <option value='Oyo'>Oyo</option>
            <option value='Plateau'>Plateau</option>
            <option value='Rivers'>Rivers</option>
            <option value='Sokoto'>Sokoto</option>
            <option value='Taraba'>Taraba</option>
            <option value='Yobe'>Yobe</option>
            <option value='Zamfara'>Zamafara</option>
        </select>
    </div>
    <!-- lga -->
    <div class="form-group">
        <label class="control-label">LGA of Origin</label>
        <select name="lga" id="lga" class="form-control" selected="{{auth.counteinfo.lga}}" disabled>
            <option value="{{auth.counteinfo.lga}}">{{auth.counteinfo.lga}}</option>
        </select>
    </div>
    <!-- englga -->

    <!-- end state of origin -->

    <div class="form-row mb-4">

        <!-- marital status -->
        <div class="col">
            <label for="ms">Marital status</label>
            <select name="maritalstatus" id="ms" class="form-control" disabled>
                <option vlaue="">
                    --select--
                </option>

                <option value="single">
                    Single
                </option>
                <option value="married">
                    Married
                </option>
                <option value="divorced">
                    Divorced
                </option>

            </select>
        </div>
        <!-- end marital status -->

        <div class="col">
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="date_of_birth" class="form-control" value="{{auth.counteinfo.date_of_birth}}" disabled>

        </div>

    </div>
<p>Gender</p> {{  auth.counteinfo.gender }}

    <!-- end marital status -->

    <hr>

    <h5><b>EMPLOYMENT INFORMATION</b></h5>
    <div class="form-row mb-4">

        <div class="col">

            <!-- department -->

            <label for="dept">Department</label>
            <input type="text" name="department" disabled
             id="dept" class="form-control mb-4" placeholder="Delivery" value="{{auth.counteinfo.department }}">
        </div>

        <div class="col">

            <!-- Position -->

            <label for="pos">Position in Department</label>
            <input type="tetx" name="position" class="form-control mb-4" id="pos" placeholder="Chief Delivery Officer"
                value="{{auth.counteinfo.department}}" disabled>
        </div>


        <div class="col">
            <!-- date of start work -->
            <label for="dos">Start Date</label>
            <input type="date" id="dos" name="date_of_start" class="form-control" value="{{auth.counteinfo.date_of_start}}" disabled>

        </div>


        <div class="col">
            <!-- employment mode -->
            <label for="empm">Employment Mode</label>
            <input type="text" id="empm" name="employment_mode" class="form-control" placeholder="NYSC/IT/PERMANENT/"
                value="{{auth.counteinfo.employment_mode}}" disabled>

        </div>


    </div>


    <!-- emergency information -->
    <hr>
    <h5><b>EMERGENCY CONTACT INFORMATION<small>(who do we contact incase of emergency)</small></b></h5>
    <div class="form-row mb-4">
        <div class="col">
            <label for="">Full name</label>
            <input disabled type="text" placeholder="Full name"
             name="emergency_contact_name" class="form-control mb-4" value="{{auth.counteinfo.emergency_contact_name}}" />
        </div>

        <div class="col">
<label for="">Telephone</label>
            <input disabled type="text" placeholder="Telephone"
             name="emergency_contact_phone" class="form-control mb-4" value="{{auth.counteinfo.emergency_contact_phone}}" />
        </div>

        <div class="col">
<label for="">Address</label>
            <input disabled type="text" placeholder="Address"
             name="emergency_contact_address" class="form-control mb-4" value="{{auth.counteinfo.emergency_contact_address}}" />
        </div>

        <div class="col">
<label for="">Relationship</label>
            <input disabled type="text" placeholder="Relationship" name="emergency_contact_relationship" class="form-control mb-4"
                value="{{auth.counteinfo.emergency_contact_relationship}}" />
        </div>
    </div>



    <!-- refree information -->
    <hr>
    <h5><b>REFREE CONTACT INFORMATION<small>(who do we contact about you?)</small></b></h5>
    <div class="form-row mb-4">
        <div class="col">
            <label for="">Full name</label>
            <input disabled type="text" placeholder="Full name" name="refree_contact_name"
             class="form-control mb-4" value="{{auth.counteinfo.refree_contact_name}}">
        </div>

        <div class="col">
<label for="">Telephone</label>
            <input disabled type="text" placeholder="Telephone"
            name="refree_contact_phone" class="form-control mb-4" value={{auth.counteinfo.refree_contact_phone}}>
        </div>

        <div class="col">
<label for="">Address</label>
            <input disabled type="text" placeholder="Address"
             name="refree_contact_address" class="form-control mb-4" value={{auth.counteinfo.refree_contact_address}}>
        </div>

        <div class="col">
<label for="">Relatinship</label>
            <input disabled type="text" placeholder="Relationship" name="refree_contact_relationship" class="form-control mb-4"
                value={{auth.counteinfo.refree_contact_relationship}} >
        </div>
    </div>
<b> &copy {{ auth.date }} Ogwugo </b>
    </div>
    {{ csrf.field | raw }}
    <!-- Sign up button -->


</form>

<!-- Default form register -->

</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{{base_url() }}/js/lga.js"></script>
<style>
    label{
float:left;
    }


    input:disabled{
        border:3px solid lightseagreen;
        background-color:#fff;
    }
    select:disabled{
    border:3px solid lightseagreen;
        background-color:#fff;

    }
    textarea:disabled{
    border:3px solid lightseagreen;
        background-color:#fff;

    }
</style>
<script>

    function currentyear(){
       return new Date('Y');
    }
</script>
{% endblock %}
