{% extends 'app.twig' %}


{% block content %}
{% if auth.counteinfo == true %}

{{ errors | json_encode }}
<div  align="center">
<img src="{{ base_url() }}/img/ogwugo.png" width="400" style="border-radius:50%" class="responsive" alt="ogwugo">
<h3>EMPLOYMENT BIODATA FORM</h3>
<p class="h4 mb-4">(To be filled by all employees of ogwugo)</p>

</div>

<!-- start row -->
<div class="row">




    <!--first comun -->
    <div class="col-md-3">

    <div class="card">

        <!-- Card content -->
        <div class="card-body"  >
<button onclick="show('pinfo')" class="btn btn-success" style="width:100%">
    <h5><b> PERSONAL INFORMATION</b></h5>
</button>

            <!-- content -->
            <div id="pinfo" style="display:none">
<!-- firstname input -->
<div class="md-form">
<p>First Name : {{ auth.counteinfo.givenname }}</p>
</div>
<!-- lastname input -->
<div class="md-form">
<p>Last Name: {{ auth.counteinfo.familyname }}</p>
</div>
<!-- email input -->
<div class="md-form">

<p>E-mail:{{ auth.counteinfo.email}}</p>
</div>
<!-- address input -->
<div class="md-form">
<p>Home Address: {{auth.counteinfo.address}}</p>
</div>
<!-- date of birth input -->
<!-- <div class="md-form">
<p>Date of birth:{{auth.counteinfo.date_of_birth}} </p>
</div> -->
<!-- state of origin -->
<div class="md-form">
<p>State:{{auth.counteinfo.state}}</p>
</div>

<!-- marital status -->
<div class="md-form">
    <p>MaritalStatus:{{ auth.counteinfo.maritalstatus }}</p>

</div>
<!-- end marital statuss -->
<!-- lga -->
<div class="md-form">
<p>LGA:{{auth.counteinfo.lga}}</p>
</div>
<!-- englga -->
</div>
<!-- end content -->


<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">edit</button>
</div>

        </div>
<!-- end cardcontent -->
    </div>




<!-- modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
<div class="alert alert-success animated jello" id="alert" style="display:none;float:right;position:fixed">
        Update was successfull!
    </div>
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Personal Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

<!-- content -->

<form action="{{ path_for('form') }}" id='pform'  method="post">
<!-- firstname input -->
<div class="md-form">
    <i class="fa fa-user prefix"></i>
    <input type="text" id="fname" class="form-control" value={{ auth.counteinfo.givenname }}>
    <label for="fname">First Name</label>
</div>
<!-- lastname input -->
<div class="md-form">
    <i class="fa fa-user prefix"></i>
    <input type="text" id="lname" class="form-control" value={{ auth.counteinfo.familyname }}>
    <label for="lname">Last Name</label>
</div>
<!-- email input -->
<div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    <input type="text" id="email" class="form-control" value={{ auth.counteinfo.email }}>
    <label for="email">E-mail address</label>
</div>
<!-- address input -->
<div class="md-form">
    <textarea id="address" class="form-control md-textarea" length="120" rows="3"></textarea>
    <label for="address">Home Address</label>
</div>

<!-- marital status -->
<div class="md-form">
    <input type="text" value="{{ auth.counteinfo.maritalstatus }}" placeholder="single,married,divorced,searching.." id="maritalstatus" class="form-control">
<label for="maritalstatus"> Marital Status </label>
</div>
<!-- end marital status -->
<!-- state of origin -->
<div class="md-form">
    <select name="state" onchange="changelga(this.value)" id="state" class="form-control">
        <option value="" selected="selected">SELECT STATE OF ORIGIN</option>
        <option value='Abia'>Abia</option>
        <option value='Adamawa'>Adamawa</option>
        <option value='AkwaIbom'>AkwaIbom</option>
        <option value='Anambra'>Anambra</option>
        <option value='Bauchi'>Bauchi</option>
        <option value='Bayelsa'>Bayelsa</option>
        <option value='Benue'>Benue</option>
        <option value='Borno'>Borno</option>
        <option value='Cross River'>Cross River</option>
        <option value='Delta'>Delta</option>
        <option value='Ebonyi'>Ebonyi</option>
        <option value='Edo'>Edo</option>
        <option value='Ekiti'>Ekiti</option>
        <option value='Enugu'>Enugu</option>
        <option value='Gombe'>Gombe</option>
        <option value='Imo'>Imo</option>
        <option value='Jigawa'>Jigawa</option>
        <option value='Kaduna'>Kaduna</option>
        <option value='Kano'>Kano</option>
        <option value='Katsina'>Katsina</option>
        <option value='Kebbi'>Kebbi</option>
        <option value='Kogi'>Kogi</option>
        <option value='Kwara'>Kwara</option>
        <option value='Lagos'>Lagos</option>
        <option value='Nasarawa'>Nasarawa</option>
        <option value='Niger'>Niger</option>
        <option value='Ogun'>Ogun</option>
        <option value='Ondo'>Ondo</option>
        <option value='Osun'>Osun</option>
        <option value='Oyo'>Oyo</option>
        <option value='Plateau'>Plateau</option>
        <option value='Rivers'>Rivers</option>
        <option value='Sokoto'>Sokoto</option>
        <option value='Taraba'>Taraba</option>
        <option value='Yobe'>Yobe</option>
        <option value='Zamfara'>Zamafara</option>
    </select>
</div>
<!-- lga -->
<div class="md-form">
    <label class="control-label" for="lga">LGA</label>
    <select name="lga" id="lga" class="form-control">
    </select>
</div>
<!-- englga -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button id="submit" type="button" class="btn btn-primary">Save changes

    <img  style="display:none;height:30px;width:30px;"
     src="{{base_url()}}/img/lg.rotating-balls-spinner.gif" id='gif'>
    </button>
            </div>

</form>

<!-- content -->
<!-- end contetn -->
            </div>


        </div>
    </div>
</div>

<!-- modal end -->
    </div>

    <!-- end first coolum -->


    <!-- second column -->

<div class="col-md-3">

    <div class="card">
<div class="card-body">
<!-- content -->
<button onclick="show('winfo')" class="btn btn-info"
style="width:100%">
    <h5><b> WORK INFORMATION</b></h5>
</button>

<div id="winfo" style="display: none">
    <!-- content -->

    <!-- department -->
    <div class="md-form">

<p>Department:{{ auth.counteinfo.department }}</p>

    </div>
    <!-- end ddepartment -->

    <!-- positon in departemnt -->
    <div class="md-form">
        <p>Position:{{ auth.counteinfo.position }}</p>

    </div>

<!-- end position in department -->

<!-- start date -->

<div class="md-form">
    <p>Date of resumption:{{ auth.counteinfo.date_of_start}} </p>
</div>
<!-- end start date -->


    <!-- employment mode -->
<div class="md-form">
<p >Employment Mode:{{ auth.counteinfo.employment_mode}}</p>

</div>
<!-- end employmrnt mode -->


</div>



</div>
<!-- content -->



<!-- edit button -->
<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emergencyinformation">edit</button>
</div>
<!-- end edit button -->


<!-- modal -->
<div class="modal fade" id="emergencyinformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
<div class="alert alert-success animated jello" id="alert2"
style="display:none;float:right;position:fixed">
    Update was successfull!
</div>

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Work Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
<form id="wform" action="{{path_for('update.workinfo')}}" method="POST">
                    <!-- department -->
                    <div class="md-form">
                        <label for="dept">Department</label>
                        <input type="text" name="department"
id="department" class="form-control mb-4" placeholder="eg. Delivery" value="{{ auth.counteinfo.department }}">

                    </div>
                    <!-- end ddepartment -->

                    <!-- positon in departemnt -->
                    <div class="md-form">
                        <label for="dept">Position</label>
                        <input type="text" name="pindept" id="position" class="form-control mb-4"
                        placeholder="eg. Boss" value="{{ auth.counteinfo.position }}">

                    </div>

                    <!-- end position in department -->

                    <!-- start date -->
                    <p>Date of resumption</p>
                    <div class="md-form">
                        <i class="fas fa-calendar prefix"></i>
                        <input type="date" id="dos" name="date_of_start" class="form-control"
                        value="{{auth.counteinfo.date_of_start}}" />
                    </div>
                    <!-- end start date -->


                    <!-- employment mode -->
                    <div class="md-form">
                        <label for="empm">Employment Mode</label>
                        <input type="text" id="empm" name="employment_mode"
                        class="form-control" placeholder="NYSC/IT/PERMANENT/" value="{{auth.counteinfo.employment_mode}}" />

                    </div>
                    <!-- end employmrnt mode -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" id="wsubmit" class="btn btn-primary">Save changes
<img style="display:none;height:30px;width:30px;" src="{{base_url()}}/img/lg.rotating-balls-spinner.gif" id='gif2'>
    </button>

</div>
            </form>

            </div>
            </div>
            </div>
            </div>

</div>

<br>
<div class="card">
<div class="card-body">
<button class="btn btn-block btn-default" type="button" data-toggle="modal" data-target="#image">
    Upload Passport
</button>
</div>
</div>

<!-- image modal -->
<div class="modal fade" id="image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="alert alert-success animated jello" id="alert3" style="display:none;float:right;position:fixed">
    Update was successfull!
</div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Passport</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

<div id="dropzone" class="dropzone" align="center">Drag and drop files to upload

    </div>

    <h5>OR</h5>


<form enctype="multipart/form-data" name="image"
 action="{{ path_for('uploadimg') }}" id="iform" method="post">
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">

        <input type="file" class="custom-file-input"
        id="image" name="passport" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Upload an Image</label>
   </div>


</div>
<img style="display:none;height:30px;width:30px;"
 src="{{base_url()}}/img/lg.rotating-balls-spinner.gif" id='gif3'>

<input type="submit" class="btn btn-success" value="submit" id="isubmit" />

</form>
</div>
</div>
</div>
</div>


    </div>
<!-- end second column -->

<!-- third row -->
<div class="col-md-6">
  <div class="card">
<div class="card-body">

            <div class="row">
                <!-- first colum -->
                            <div class="col-6">
                            <div class="card">
                                <button onclick="show('einfo')" class="btn btn-danger" style="width:100%">
                                    <h5><b> EMERGENCY INFORMATION</b></h5>
                                </button>

                            <div class="card-body" id="einfo">
                                <!-- conent -->
<div class="mb-4">
<div class="md-form">
<p>Full name:{{auth.counteinfo.emergency_contact_name}}</p>
</div>

<div class="md-form">

<p>Telephone:{{auth.counteinfo.emergency_contact_phone}}</p>
</div>

<div class="md-form">

<p>Address:{{auth.counteinfo.emergency_contact_address}}</p>
</div>

<div class="md-form">

<p>Relationship:{{auth.counteinfo.emergency_contact_relationship}}</p>

</div>

</div>
<!-- end content -->

            </div>


<!-- edit button -->
<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emrgency">edit</button>
</div>
<!-- end edit button -->

                            <!-- modal -->
<div class="modal fade" id="emrgency" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Emergency Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

            <!-- modal content -->
<form action="">
    <div class="form-row mb-4">
<div class="md-form">
<label>Full name</label>
<input type="text" placeholder="Full name" name="emergency_contact_name"
class="form-control mb-4" value="{{ auth.counteinfo.emergency_contact_name}}"/>
</div>

<div class="md-form">

<label>Telephone</label>
<input type="text" placeholder="Telephone" name="emergency_contact_phone" class="form-control mb-4"
value="{{auth.counteinfo.emergency_contact_phone}}"/>
</div>

<div class="md-form">

<label>Address</label>
<input type="text" placeholder="Address"
name="emergency_contact_address" class="form-control mb-4" value="{{auth.counteinfo.emergency_contact_address}}"/>
</div>

<div class="md-form">

<label>Relationship</label>
<input type="text" placeholder="Relationship"
name="emergency_contact_relationship"
class="form-control mb-4" value="{{auth.counteinfo.emergency_contact_relationship}}"/>
</div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>

</form>


<!-- modal content -->
            </div>
                </div>
                </div>
                </div>


                            <!-- end modal -->

                            </div>

                                            </div>
                                            <!-- end first column -->


                <!-- second colm -->
                <div class="col-6">
                <div class="card">
                                <button onclick="show('rinfo')" class="btn btn-warning" style="width:100%">
                                    <h5><b> REFREE INFORMATION</b></h5>
                                </button>

                    <div class="card-body" id="rinfo">
<div class="mb-4">
    <div class="md-form">
        <p>Fullname:</p>
    </div>

    <div class="md-form">

        <p>Telephone:</p>
    </div>

    <div class="md-form">

        <p >Home Address:</p>
    </div>

    <div class="md-form">

        <p >Relationship:</p>
    </div>
</div>
</div>
<!-- edit button -->
<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rinfo">edit</button>
</div>
<!-- end edit button -->

</div>
                            <!-- modal -->
<div class="modal fade" id="rinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Refree Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

<form action="">
    <div class="mb-4">
    <div class="md-form">

        <label for="">Fullname</label>
        <input type="text" placeholder="Full name" name="refree_contact_name" class="form-control mb-4" value="{{old.refree_contact_name}}">
    </div>

    <div class="md-form">

        <label for="">Telephone</label>
        <input type="text" placeholder="Telephone" name="refree_contact_phone" class="form-control mb-4" value={{old.refree_contact_phone}}>
    </div>

    <div class="md-form">

        <input type="text" placeholder="Address" name="refree_contact_address" class="form-control mb-4" value={{old.refree_contact_address}}>
    </div>

    <div class="md-form">

        <input type="text" placeholder="Relationship" name="refree_contact_relationship" class="form-control mb-4"
            value={{old.refree_contact_relationship}} >

        </div>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>
</form>

            </div>
</div>
</div>
</div>



            </div>
                <!-- end second colum -->
                    </div>

</div>
</div>

</div>
<!-- end third row -->

</div>

<!-- end row -->

{% else %}
<div style="margin:auto;width:300px" class="card animated slideInDown slow">
    <div class="alert alert-warning alert-dismissible fade show card-header" align="center" role="alert">
        <strong>Hello {{ auth.user.name }},you have uploaded your form data.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="card-body" align="center">
            <a href="{{ path_for('user.view.workdata')}}">View<h5 class="fas fa-eye"></h5></a> <a href="{{path_for('user.update.workdata')}}">Edit
                <h5 class="fas fa-edit"></h5> </a>

        </div>
    </div>






 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="{{base_url() }}/js/lga.js"></script>
{% endif %}

<script src="{{ base_url()}}/js/global.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>

    function show(option) {
        var exp = document.getElementById(option);
        if (exp.style.display == 'none') {
            document.getElementById(option).style.display = 'block';
            console.warn(option, 'option triggered');
        } else {
            document.getElementById(option).style.display = 'none';
            console.log(option, 'option closed');
        }
    }

    function hideWorkstop() {
        var input = document.getElementById('workstop');

        if (input.checked == true) {
            document.getElementById('stopdate').style.display = 'none';
            console.log('has been checked');
        }

    }
</script>
{%  endblock %}

