{% extends 'app.twig' %}


{% block content %}
{% if auth.counteinfo == false %}

{{ errors | json_encode }}
<div  align="center">
<img src="{{ base_url() }}/img/ogwugo.png" width="400" style="border-radius:50%" class="responsive" alt="ogwugo">
<h3>EMPLOYMENT BIODATA FORM</h3>
<p class="h4 mb-4">(To be filled by all employees of ogwugo)</p>

</div>

<div class="md-form mt-0" style="width:350px;">
<button onclick="show('pinfo')" class="btn btn-success" style="width:100%">
    <h5><b><b id="show">SHOW </b> PERSONAL INFORMATION</b></h5>
</button>
<div id="pinfo" style="width:100%;border:1px solid lightgrey;padding:10px;z-index:3000;display:none" class="animated slideInLeft fast">
<form style="color: #757575;">

    <!-- firstname input -->
    <div class="md-form">
        <i class="fa fa-user prefix"></i>
        <input type="text" id="fname" class="form-control">
        <label for="fname">First Name</label>
    </div>
    <!-- lastname input -->
    <div class="md-form">
        <i class="fa fa-user prefix"></i>
        <input type="text" id="lname" class="form-control">
        <label for="lname">Last Name</label>
    </div>
    <!-- email input -->
    <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input type="text" id="email" class="form-control">
        <label for="email">E-mail address</label>
    </div>
<!-- address input -->
    <div class="md-form">
        <textarea id="address" class="form-control md-textarea" length="120" rows="3"></textarea>
        <label for="address">Address</label>
    </div>
<button type="button" class="btn btn-default">SUBMIT</button>

</form>
</div>
</div>



    <!-- gender -->
    <label for="gender">Gender</label>
<div>

<div class="custom-control custom-radio">
  <label class="custom-control-label" for="genderf">Female</label>
  <input type="radio" class="custom-control-input"
   id="genderf" value="female" name="gender">
</div>
<div class="custom-control custom-radio">

    <input type="radio" class="custom-control-input"
    id="genderm" value="male" name="gender">
  <label class="custom-control-label" for="genderm">Male</label>
</div>

</div>
<!-- endgender -->



<!-- end marital status -->

<hr>

<h5><b>EMPLOYMENT INFORMATION</b></h5>
  <div class="form-row mb-4">

        <div class="col">

    <!-- department -->

    <label for="dept">Department</label>
    <input type="text"  name="department" id="dept" class="form-control mb-4"
     placeholder="Delivery" value="{{ old.department }}">
        </div>

        <div class="col">

    <!-- Position -->

    <label for="pos">Position in Department</label>
    <input type="tetx" name="position" class="form-control mb-4"
     id="pos" placeholder="Chief Delivery Officer" value="{{old.position}}">
        </div>


        <div class="col">
            <!-- date of start work -->
    <label for="dos">Start Date</label>
        <input type="date" id="dos" name="date_of_start" class="form-control" value="{{old.date_of_start}}"/>

        </div>


        <div class="col">
            <!-- employment mode -->
    <label for="empm">Employment Mode</label>
        <input type="text" id="empm" name="employment_mode" class="form-control" placeholder="NYSC/IT/PERMANENT/" value="{{old.employment_mode}}"/>

        </div>


    </div>


<!-- emergency information -->
    <hr>
<h5><b>EMERGENCY CONTACT INFORMATION<small>(who do we contact incase of emergency)</small></b></h5>
<div class="form-row mb-4">
<div class="col">
<input type="text" placeholder="Full name" name="emergency_contact_name" class="form-control mb-4" value="{{old.emergency_contact_name}}"/>
</div>

<div class="col">

<input type="text" placeholder="Telephone" name="emergency_contact_phone" class="form-control mb-4" value="{{old.emergency_contact_phone}}"/>
</div>

<div class="col">

<input type="text" placeholder="Address" name="emergency_contact_address" class="form-control mb-4" value="{{old.emergency_contact_address}}"/>
</div>

<div class="col">

<input type="text" placeholder="Relationship"
name="emergency_contact_relationship" class="form-control mb-4" value="{{old.emergency_contact_relationship}}"/>
</div>
</div>



<!-- refree information -->
    <hr>
<h5><b>REFREE CONTACT INFORMATION<small>(who do we contact about you?)</small></b></h5>
<div class="form-row mb-4">
<div class="col">
<input type="text" placeholder="Full name" name="refree_contact_name" class="form-control mb-4" value="{{old.refree_contact_name}}">
</div>

<div class="col">

<input type="text" placeholder="Telephone" name="refree_contact_phone" class="form-control mb-4" value={{old.refree_contact_phone}}>
</div>

<div class="col">

<input type="text" placeholder="Address" name="refree_contact_address" class="form-control mb-4" value={{old.refree_contact_address}}>
</div>

<div class="col">

<input type="text" placeholder="Relationship" name="refree_contact_relationship" class="form-control mb-4" value={{old.refree_contact_relationship}}/>
</div>
</div>

<div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">

                            <input type="file" class="custom-file-input" id="inputGroupFile01" name="image"
                                aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Upload an Image</label>

                        </div>
                        {% if errors.image %}
                        <span class="help-block has-error-p" style="float:left;">{{ errors.image | first }}</span>
                        {% endif %}
                    </div>
                    {{ csrf.field | raw }}

<!-- Sign up button -->
    <button class="btn btn-outline-success my-4 btn-block" type="submit">Submit</button>

</form>

<!-- Default form register -->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="{{base_url() }}/js/lga.js"></script>
{% endif %}

<div style="margin:auto;width:300px" class="card animated slideInDown slow">
<div class="alert alert-warning alert-dismissible fade show card-header" align="center" role="alert">
    <strong>Hello {{ auth.user.name }},you have uploaded your form data.</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="card-body" align="center">
    <a href="{{ path_for('user.view.workdata')}}">View<h5 class="fas fa-eye"></h5></a> <a href="{{path_for('user.update.workdata')}}">Edit <h5 class="fas fa-edit"></h5> </a>

    </div>
</div>

<script>
    function show(option) {
        var exp = document.getElementById(option);
        if (exp.style.display == 'none') {
            document.getElementById(option).style.display = 'block';
            console.warn(option, 'option triggered');
            document.getElementById('show').innerHTML = 'HIDE';
        } else {
            document.getElementById(option).style.display = 'none';
            console.log(option, 'option closed');

            document.getElementById('show').innerHTML = 'SHOW';
        }
    }
    function hideWorkstop() {
        var input = document.getElementById('workstop');

        if (input.checked == true) {
            document.getElementById('stopdate').style.display = 'none';
            console.log('has been checked');
        }

    }


</script>
{%  endblock %}

